{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'expand.js' %}"></script>
    <section id="about">
        <h2>About Me</h2>
        <p>Hi, I'm Matthew Levin. And I'm a Full-stack web developer and QA automation</p>
        <p>specialist currently working for
            <a class="interactive-text" href="https://www.nextech.com" target="_blank" rel="noopener">Nextech
                Systems</a>&nbsp;and studying
            Computer Science at
            <a class="interactive-text" href="https://loyno.edu">Loyola University New Orleans</a> where I'm set to graduate in December 2024&nbsp;
        </p>
        <h2>Work experience</h2>
        {% for experience in work_experiences %}
            <div class="experience">
                <small>{{ experience.start_date|date:"M Y" }} - {% if experience.current %}Present{% else %}
                    {{ experience.end_date|date:"M Y" }} {% endif %} </small>
                <br>
                <strong class="experience-title">{{ experience.title }}</strong> -
                <a class="interactive-text" href="{{ experience.url }}">{{ experience.organization }}</a>
                <div class="experience-description">{{ experience.description | linebreaks }}</div>
                <div class="experience-skills">
                    {% for skill in experience.skills.all %}
                        <div class="skill-button">
                            <a class="btn btn-default skills-list-item show-info">
                                {{ skill.name }}
                                <div class="info">{{ skill.description }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <h2>Education</h2>
        {% for experience in education_experiences %}
            <div class="experience">
                <small>{{ experience.start_date|date:"M Y" }} - {% if experience.current %}Present{% else %}
                    {{ experience.end_date|date:"M Y" }} {% endif %} </small>
                <br>
                <strong class="experience-title">{{ experience.title }}</strong> - 
                <a class="interactive-text" href="{{ experience.url }}">{{ experience.organization }}</a>
                <div class="experience-description">{{ experience.description | linebreaks }}</div>
                <div class="experience-skills">
                    {% for skill in experience.skills.all %}
                        <div class="skill-button">
                            <a class="btn btn-default skills-list-item show-info">
                                {{ skill.name }}
                                <div class="info">{{ skill.description }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <h2>Other Achievements</h2>
        {% for experience in personal_experiences %}
            <div class="experience">
                <strong class="experience-title">{{ experience.title }}</strong> - 
                <a class="interactive-text" href="{{ experience.url }}">{{ experience.organization }}</a>
                <div class="experience-description">{{ experience.description | linebreaks }}</div>
                <div class="experience-skills">
                    {% for skill in experience.skills.all %}
                        <div class="skill-button">
                            <a class="btn btn-default skills-list-item show-info">
                                {{ skill.name }}
                                <div class="info">{{ skill.description }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <h2>Skills</h2>
        <div class="experience-skills-list">
            <h3>Languages I know how to use</h3>
            <div class="skills-list">
                {% for skill in languages %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }}
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3>Frameworks Databases and other Things I know how to use</h3>
            <div class="skills-list">
                {% for skill in frameworks %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }}
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3>Other Skills I have</h3>
            <div class="skills-list">
                {% for skill in other_skills %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }}
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3>Hobbies and things I'm interested in</h3>
            <div class="skills-list">
                {% for skill in hobbies %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }} 
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}
