{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'expand.js' %}"></script>
    <section id="about">
        <h2>About Me</h2>
        <p>Hi, I'm <strong>{{ name }}</strong>, a dedicated {{ title }}.
            {% if work_experiences.first.current == 1 and work_experiences.count >= 1 %}
            	I am currently working on cutting-edge solutions at <a class="interactive-text" href="{{work_experiences.first.url}}" target="_blank" rel="noopener">{{ work_experiences.first.organization }}</a>. &nbsp;
            {% elif work_experiences.first.current != 1 and work_experiences.count >= 1 %}
                I recently was working on cutting-edge solutions at <a class="interactive-text" href="{{work_experiences.first.url}}" target="_blank" rel="noopener">{{ work_experiences.first.organization }}</a>. &nbsp;
            {% elif  work_experiences.first.current != 1 and work_experiences.count <= 1 %}
                I am currently looking for work and have a strong work ethic. &nbsp;
            {% endif %} 
            
            {% if education_experiences.first.current == 1 and education_experiences.count >= 1 %}
                I am currently pursuing a {{ education_experiences.first.title }} in Computer Science at <a class="interactive-text" href="{{ education_experiences.first.url }}" target="_blank" rel="noopener">{{ education_experiences.first.organization }}</a>, where I am on track to graduate <em>Magna Cum Laude</em> in {{ education_experiences.first.end_date|date:"F Y"}}.
            {% else %}
                I graduated from <a class="interactive-text" href="{{ education_experiences.first.url }}" target="_blank" rel="noopener">{{ education_experiences.first.organization }}</a> with a {{ education_experiences.first.title }} in Computer Science in {{ education_experiences.first.end_date|date:"F Y"}}.
            {% endif %}
        </p>
    <p>With a strong foundation in programming languages like {% for skill in most_important_languages %} {{ skill.name }}, {% endfor %} and {{ last_most_important_language.name }} alongside proficiency in frameworks such as {% for skill in most_important_frameworks %} {{ skill.name }}, {% endfor %} and {{ last_most_important_framework.name }}
    I am able to excel in creating robust, user-centric web applications and automated testing solutions. 
    My professional experience includes maintaining enterprise-level practice management systems, optimizing SQL Server database performance, 
    and implementing dynamic user interfaces with modern web technologies.</p>

    <p>Outside of work and school, I'm proud to be an Eagle Scout, a rank that represents years of commitment, leadership, and community service.
    For my Eagle Scout project, I designed and built a sensory path for a local elementary school to help kids develop motor skills and create a fun, interactive space for learning. 
    Scouting has taught me persistence, adaptability, problem-solving, and compassion which I carry into everything I do</p>

        <p>Below is my interactive resume. Please look it over and <a class="interactive-text" href="{% url 'contactme' %}">contact me!</a></p>
        <h2>Work experience</h2>
        {% for experience in work_experiences %}
            <div class="experience">
                <small>{{ experience.start_date|date:"M Y" }} - {% if experience.current %}Present{% else %}
                    {{ experience.end_date|date:"M Y" }} {% endif %} </small>
                <br>
                <strong class="experience-title">{{ experience.title }}</strong> -
                <a class="interactive-text" href="{{ experience.url }}">{{ experience.organization }}</a>
                <div class="experience-description">{{ experience.description | linebreaks }}</div>
                <div class="experience-skills">
                    {% for skill in experience.skills.all %}
                        <div class="skill-button">
                            <a class="btn btn-default skills-list-item show-info">
                                {{ skill.name }}
                                <div class="info">{{ skill.description }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <h2>Education</h2>
        {% for experience in education_experiences %}
            <div class="experience">
                <small>{{ experience.start_date|date:"M Y" }} - {% if experience.current %}Present{% else %}
                    {{ experience.end_date|date:"M Y" }} {% endif %} </small>
                <br>
                <strong class="experience-title">{{ experience.title }}</strong> - 
                <a class="interactive-text" href="{{ experience.url }}">{{ experience.organization }}</a>
                <div class="experience-description">{{ experience.description | linebreaks }}</div>
                <div class="experience-skills">
                    {% for skill in experience.skills.all %}
                        <div class="skill-button">
                            <a class="btn btn-default skills-list-item show-info">
                                {{ skill.name }}
                                <div class="info">{{ skill.description }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <h2>Other Achievements</h2>
        {% for experience in personal_experiences %}
            <div class="experience">
                <strong class="experience-title">{{ experience.title }}</strong> - 
                <a class="interactive-text" href="{{ experience.url }}">{{ experience.organization }}</a>
                <div class="experience-description">{{ experience.description | linebreaks }}</div>
                <div class="experience-skills">
                    {% for skill in experience.skills.all %}
                        <div class="skill-button">
                            <a class="btn btn-default skills-list-item show-info">
                                {{ skill.name }}
                                <div class="info">{{ skill.description }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <h2>Skills</h2>
        <div class="experience-skills-list">
            <h3>Languages I know how to use</h3>
            <div class="skills-list">
                {% for skill in languages %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }}
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3>Frameworks Databases and other Technologies I know how to use</h3>
            <div class="skills-list">
                {% for skill in frameworks %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }}
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3>Other Skills I have</h3>
            <div class="skills-list">
                {% for skill in other_skills %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }}
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3>Hobbies and things I'm interested in</h3>
            <div class="skills-list">
                {% for skill in hobbies %}
                    <div class="skill-button">
                        <a class="btn btn-default skills-list-item show-info">
                            {{ skill.name }}
                            <div class="info">{{ skill.description }} 
                                <a class="interactive-text" href="{{ skill.url }}">Learn More</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
