{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %}{% endblock page_title %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"
            integrity="sha384-X9kJyAubVxnP0hcA+AMMs21U445qsnqhnUF8EBlEpP3a42Kh/JwWjlv2ZcvGfphb"
            crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
<header id="navbar">
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'contactme' %}">Contact</a>
        <a href="{% url 'about' %}">About</a>
    </nav>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</header>
{% block page_content %}{% endblock page_content %}
</body>
</html>
