<!-- templates/contact.html -->
{% extends "base.html" %}

{% block page_title %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Me</title>
    </head>
{% endblock %}

{% block page_content %}
    <header class="page-header">
        <h1>Contact Me</h1>
    </header>
    <section id="contact">
        <form method="post">
            {% csrf_token %}
            {{ contact_form.as_p }}
            {{ message_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </section>
{% endblock %}