{% extends "base.html" %}

{% block page_title %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Developer Portfolio</title>
    </head>
{% endblock %}

{% block page_content %}
    <header class="page-header">
        <h1>Matthew Levin</h1>
        <p>Full Stack Developer, QA Automation Specialist</p>
        <a class="logo"  href="{{ github }}" target="_blank" rel="noreferrer">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
                <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
            </svg>
        </a>
        <a class="logo"  href="{{ linkedin }}" target="_blank" rel="noreferrer">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
                <path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM349.3 793.7H230.6V411.9h118.7v381.8zm-59.3-434a68.8 68.8 0 1 1 68.8-68.8c-.1 38-30.9 68.8-68.8 68.8zm503.7 434H675.1V608c0-44.3-.8-101.2-61.7-101.2-61.7 0-71.2 48.2-71.2 98v188.9H423.7V411.9h113.8v52.2h1.6c15.8-30 54.5-61.7 112.3-61.7 120.2 0 142.3 79.1 142.3 181.9v209.4z"></path>
            </svg>
        </a>
    </header>
    <section id="about">
        <h2>About Me</h2>
        <p>Hi, I'm Matt. And I'm a Full-stack web developer and QA automation</p>
        <p>specialist currently working for
            <a class="interactive-text" href="https://www.nextech.com" target="_blank" rel="noopener">Nextech Systems</a>&nbsp;and studying
            Computer Science at
            <a class="interactive-text" href="https://loyno.edu">Loyola University New Orleans</a>.&nbsp;
        </p>
        <div class="flexwrap-container">
            <div class="info-list">
                <h3>Languages I know how to use</h3>
                <a href="https://www.youtube.com/watch?v=U3aXWizDbQ4">C</a>
                <a href="https://www.youtube.com/watch?v=ravLFzIguCM">C#</a>
                <a href="https://www.youtube.com/watch?v=MNeX4EGtR5Y">C++</a>
                <a href="https://www.youtube.com/watch?v=l9AzO1FMgM8">Java</a>
                <a href="https://www.youtube.com/watch?v=x7X9w_GIm1s">Python</a>
                <a href="https://www.youtube.com/watch?v=DHjqpvDnNGE">Javascript</a>
                <a href="https://www.youtube.com/watch?v=zQnBQ4tB3ZA">Typescript</a>
                <a href="https://www.youtube.com/watch?v=zsjvFFKOm3c">SQL</a>
                <a href="https://www.youtube.com/watch?v=446E-r0rXHI">GO</a>
            </div>
            <div class="info-list">
                <h3>Frameworks/Technologies I know how to use</h3>
                <a href="https://www.djangoproject.com">Django</a>
                <a href="https://angular.dev">Angular</a>
                <a href="https://rxjs.dev">RxJS</a>
                <a href="https://www.selenium.dev">Selenium</a>
                <a href="https://junit.org/junit5/">JUnit</a>
                <a href="https://nunit.org">NUnit</a>
                <a href="https://jasmine.github.io">Jasmine</a>
                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads">SqlServer</a>
                <a href="https://www.postgresql.org">PostgresSQL</a>
                <a href="https://www.oracle.com/database/">OracleDB</a>
            </div>
            <div class="info-list">
                <h3>I'm a big fan of</h3>
                <a href="https://www.reddit.com/r/programming/">Programming</a>
                <a href="https://www.reddit.com/r/unixporn/">Linux/Unix Ricing</a>
                <a href="https://www.scouting.org">Scouting (Yes I am an Eagle Scout)</a>
                <a href="https://www.philmontscoutranch.org">Backpacking</a>
                <a href="https://www.space.com">Space</a>
                <a href="https://www.starwars.com">Star Wars</a>
                <a href="https://en.wikipedia.org/wiki/Dune_(novel)">Dune</a>
                <a href="https://tidal.com/browse/playlist/3e0fd792-b984-49f7-bd62-14c6b50ef821">Hifi Music</a>
                <a href="https://kinggizzardandthelizardwizard.com">King Gizzard & the Lizard Wizard</a>
            </div>
        </div>


    </section>
    {% block git_graph %}
    {% endblock %}
    <section id="projects">
        <h2>Projects</h2>
        {% block projects %}
            <div class="flexwrap-container">
            {% for project in projects %}
                <a href="{% url 'blog_detail' project.pk %}">
                    <div class="project">
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.body|slice:":400" }}... <a href="{% url 'blog_detail' project.pk %}" class="interactive-text">Read more</a></p>
                    </div>
                </a>
            {% endfor %}
            </div>
        {% endblock projects %}
    </section>
    <section id="contact">
        <h2>Contact Me</h2>
        <p>Email: <a class="interactive-text" href="mailto:{{ email }}">{{ email }}</a></p>
        
        <a id="contact-button" href="{% url 'contactme' %}">Or Contact Me Here</a>
    </section>
{% endblock %}
