{% extends 'base.html' %}
{% block page_title %}
    <title>{{ post.title }}</title>
{% endblock page_title %}

{% block page_content %}
    <section class="post">
        <h2>{{ post.title }} <small id="created-on-date">{{ post.created_on.date }}</small></h2>
        
        {{ post.body | safe | linebreaks }}
    </section>
    <section class="comments">
        <h3>Leave a comment:</h3>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" class="site-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_author">Name</label>
                {{ form.author }}
            </div>
            <div class="form-group">
                <label for="id_body">Comment</label>
                {{ form.body }}
            </div>
            <p class="hp" aria-hidden="true">
                <label for="id_website">Website</label>
                <input type="text" name="website" id="id_website" value="" tabindex="-1" autocomplete="off">
            </p>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <h3>Comments:</h3>
        {% for comment in comments %}
            <article class="comment">
                <p class="comment-meta">
                    On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
                </p>
                <div class="comment-body">
                    {{ comment.body | linebreaks }}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock page_content %}
