{% extends 'base.html' %}
{% block page_title %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ post.title }}</title>
    </head>
{% endblock page_title %}

{% block page_content %}
    <section class="post">
        <h2>{{ post.title }} <small id="created-on-date">{{ post.created_on.date }}</small></h2>
        
        {{ post.body | safe | linebreaks }}
    </section>
    <section class="comments">
        <h3>Leave a comment:</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.author }}
            </div>
            <div class="form-group">
                {{ form.body }}
            </div>
            <button type="submit" class="button">Submit</button>
        </form>

        <h3>Comments:</h3>
        {% for comment in comments %}
            <p>
                On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
            </p>
            <p>
                {{ comment.body | linebreaks }}
            </p>
        {% endfor %}
    </section>
{% endblock page_content %}
