/* style.css */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --accent-color: #403A36;
    --background-color: #292522;
    --text-color: #ECE1D7;
    --header-bg-color: #34302C;
    --header-text-color: #E49B5D;
    --secondary-text-color: #C1A78E;
    --border-color: #333;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    background-color: var(--header-bg-color);
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: var(--header-text-color);
}

header p {
    font-size: 1.5em;
    color: var(--secondary-text-color);
    margin-top: 10px;
}

header#navbar {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 0;
    background-color: var(--header-bg-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
}

nav > a:hover {
    color: var(--secondary-text-color);
    transform: translateY(-5px);
    transition: 0.3s;
}

#site-name {
    font-weight: 700;
    padding-left: 20px;
    font-size: 1.5rem;
    color: var(--header-text-color);
}

section {
    padding: 50px 10%;
    flex-wrap: wrap;
    justify-content: space-between;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--header-text-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
}

.blog-list .post {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.blog-list .post h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.blog-list .post h3 a {
    color: var(--header-text-color);
    text-decoration: none;
}

.blog-list .post h3 a:hover {
    color: var(--accent-color);
}

.blog-list .post .post-date {
    font-size: 0.9em;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.blog-list .post p {
    line-height: 1.6;
}

.blog-list .post .read-more {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: bold;
}

.blog-list .post .read-more:hover {
    color: var(--accent-color);
    transition: color 0.3s;
}

a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom: 1px solid var(--accent-color);
}

#contact a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#contact a:hover {
    background-color: var(--background-color);
}

@media (max-width: 768px) {
    section {
        padding: 30px 10%;
    }

    .projectContainer {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }
}


#projects {
    justify-content: space-between;
}

.project {
    background-color: var(--header-bg-color);
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
    min-width: 200px;
    flex: 1 1 25%;
}

.project:hover {
    transform: translateY(-10px);
    background-color: var(--accent-color);
}

.project h3 {
    margin-top: 0;
    font-size: 1.8em;
    color: var(--secondary-text-color);
}

.project p {
    margin: 0;
    color: var(--text-color);
    font-size: 1em;
}

.flexwrap-container {
    display: flex;
    gap: normal;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info-list {
    background-color: var(--header-bg-color);
    width: 250px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    transition: transform 0.3s;
    text-align: center;
    /*display: inline-grid;*/
    flex: 0 1 25%;
    min-width: 250px;
}

.info-list h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: var(--secondary-text-color);
    align-content: center;
}

.info-list a {
    color: var(--text-color);
    margin: 0 auto;
    padding: 0;
    display: grid;
    font-size: 1em;
}

.info-list a:hover {
    color: var(--secondary-text-color);
    transform: translateY(-1px);
    transition: 0.3s;
}
